.logo img {
    width: 140px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;

}

.right ul {
    display: flex;
    gap: 34px;

}

.right ul li {
    list-style: none;
    cursor: pointer;
}

.right ul li span {
    gap: 9px;
    display: flex;
    align-items: center;
}

.first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    gap: 63px;
    margin: 70px;
}

.first span {
    font-size: 40px;
}

.first img {
    width: 82px;
    margin: 0 13px;
}

p {
    font-size: 23px;
    width: 58vw;
    text-align: center;
}

.btn {
    background-color: #00b6d1;
    padding: 12px 20px !important;
    border: none;
    border-radius: 4px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    margin: 13px 0px;
    
}

.btn a{
    text-decoration: none;
    color: white;
}

.second {
    max-width: 63vw;
    margin: auto;

}

.green {
    background-color: #5cb85c;
}

.item {
    padding: 23px;
    background: rgb(247 247 247);
    text-align: center;

}

.item-lang {
    padding-bottom: 26px;
    font-weight: 700;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.download{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    gap: 9px;
}

.download img{
    padding: 0px 12px;
}
.download :nth-child(2) {
    font-size: 24px;
}

.download :nth-child(3){
    font-size: 14px;
}

@media screen and (max-width : 1145px) {
    .grid {
        grid-template-columns: 1fr;
    }
}